{%extends 'base.html'%}
{%block body%}
<script>

    function changeTitle(value) { 
        let p = document.getElementById("title")
        if (value == 'js' || value == 'python') { 
            p.innerText = '[ Stringportant.com ]'
        } else if (value == 'c' || value == 'c#'){ 
            p.innerText = '{ Stringportant.com }'
        } else if (value=='php') { 
            p.innerText = 'array( Stringportant.com )'
        }

    }


    function alertDuplicate(){ 

    }

</script>


  <div class="title-box">
    <p id="title">[ Stringportant.com ]</p>    
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

    <form method='POST' class="container">

        <p class="container-title">Generate an array of random names</p>
     
        <div class="words-selector"><input name='number' id='number' type="number" value='10'/> <p>names array for</p></div>

        <select onchange="changeTitle(this.value)" name='language' id='language' class="select">
            <option value='js' selected>Choose a language </option>

            <option value="js">Javascript</option>
            <option value="python">Python</option>
            <option value="c#">C#</option>
            <option value="c">C</option>
            <option value="php">PHP
                
            </option>
        </select>


        <div class="words-container">
            <p id="words-container">{{list}}</p>

        </div>
    

        <button type="submit" onclick="loading()" class="btn">Generate</button>
        <button type="button" onclick="copy()" id='copy-btn' class="copy-btn">Copy</button>
        <p style="color:white">{{length}} names generated</p>
      
    
    </form>

    

{%endblock body%}